<html>
<head>
  <title>Admin Panel | Saddacampus</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      var city_name, id;
    	$("#add").click(function(){
    		city_name=$("#city_name").val();

    		$.post("http://localhost:3000/city",{city_name:city_name},function(data){
    			if(data==='done')
    			{
    				location.reload();
    			}
    		});
    	});
      $(".btn-update").click(function(){
        var selected = $(this).attr("id");
  			id = selected.split("update_").join("");

        city_name=$("#name_"+id).val();

        $.ajax({
          url: "http://localhost:3000/city",
          type: "PUT",
          data: {
            city_name:city_name,
            id: id
          },
          success: function(data){
      			if(data==='done')
      			{
      				location.reload();
      			}
      		}
        });
    	});
      $(".btn-delete").click(function(){
        var selected = $(this).attr("id");
  			id = selected.split("delete_").join("");

  			var confirmed = confirm("Are you sure you want to delete this city?");

  			if(confirmed==true){
          $.ajax({
            url: "http://localhost:3000/city",
            type: "DELETE",
            data: {
              id: id
            },
            success: function(data){
        			if(data==='done')
        			{
        				location.reload();
        			}
        		}
          });
  			}
    	});
      $(".btn-view").click(function(){
        var selected = $(this).attr("id");
  			id = selected.split("view_").join("");

        city_name=$("#name_"+id).val();

				window.location.href = "http://localhost:3000/"+city_name+"/restaurant";
    	});
    });
  </script>
</head>
<body>
  <h3>Cities</h3>
    <ul>
      <% results.forEach(function(result){ %>
        <li>
          <input type="text" size="40" placeholder="Type city name" id="name_<%= result.id %>" value="<%= result.city_name %>"><br />
          <input type="button" value="View" id="view_<%= result.id %>" class="btn-view">
          <input type="button" value="Update" id="update_<%= result.id %>" class="btn-update">
          <input type="button" value="Delete" id="delete_<%= result.id %>" class="btn-delete">
        </li>
      <% }) %>
    </ul>
  <input type="text" size="40" placeholder="Type city name" id="city_name"><br />
  <input type="button" value="Add" id="add">
</body>
</html>
